workflow.json
{"updatedAt":"2026-02-25T09:20:10.824Z","createdAt":"2026-02-04T04:26:02.555Z","id":"shWZJPbalaGm2marLQqG5","name":"Teste Jarvis Finanzas","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1760,1392],"id":"1f57d8d5-2aa0-4244-adee-21a2328bca06","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"kzsagMP6DxHMcdAf","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.userPrompt  }}","options":{"systemMessage":"=Eres un asistente financiero personal en Colombia 🇨🇴.\nIdioma: ESPAÑOL (Colombiano).\nPersonalidad: Amigable, usa emojis 🤩.\nOBJETIVOS:\n- Transacciones (Gastos/Ingresos).\n- Presupuestos (Crear/Editar/Borrar).\n- Borrar última transacción.\n- Chat.\nOUTPUT JSON OBLIGATORIO:\n1. PRESUPUESTOS (Budgets):\n- Crear: tipo budget_create, categoría Comida, monto 500000, mensaje \"✅ Presupuesto creado.\"\n- Editar: tipo budget_update, categoría Comida, monto 600000, mensaje \"✅ Presupuesto actualizado.\"\n- Borrar: tipo budget_delete, categoría Comida, mensaje \"🗑️ Presupuesto borrado.\"\n2. TRANSACCIONES:\n- Gasto: tipo expense, monto 20000, categoría Comida, descripción Pizza, mensaje \"✅ Anotado!\"\n- Ingreso (Ingressos/Ganhei): tipo income, monto 50000, categoría Salario, descripción Sueldo, mensaje \"💰 Dinero extra!\"\n- Borrar Última: tipo transaction_delete_last, mensaje \"🗑️ Borrando última transacción.\"\n3. Se o usuário quiser mudar/alterar uma transação anterior, use type: 'transaction_update_last' e envie os novos dados\n4. CHAT:\n- tipo chat, mensaje \"Hola! 👋\"\n\n⚠️ IMPORTANTE: As chaves do JSON devem ser SEMPRE em inglês: type, amount, category, description, message. NUNCA traduza as chaves para tipo ou mensaje.\n\nOBJETIVO: Clasificar la intención del usuario y extraer datos con precisión.\n\nMODO 1: TRANSACCIÓN\n- Si el usuario menciona dinero entrando (gané, me pagaron, recibí, salario): type = 'income'.\n- Si el usuario menciona gastos (gaste, compré, pagué, se me fueron): type = 'expense'.\n- Si no se especifica categoría, usa 'General' (NUNCA inventes 'Comida' si no se menciona).\n- Reconoce 'mil' como 000 (ej: 200 mil = 200000).\nMODO 2: ANÁLISIS\n- Si el usuario pregunta \"cuánto gasté\", \"mi saldo\", \"resumen de la semana\", \"cómo voy\":\n- Retorna SOLAMENTE: { \"type\": \"analysis\", \"description\": \"analysis_request\" \n-{ \"type\": \"analysis\", \"description\": \"analysis_request\", \"message\": \"Analizando tus finanzas...\" }\nSALIDA JSON:\n{ \"amount\": number, \"category\": \"string\", \"description\": \"string\", \"type\": \"expense/income\" }\n- NO respondas con texto libre. Si la intención es analizar, retorna SIEMPRE el JSON anterior.\n-Abaixo estão as transações do usuário recuperadas do banco de dados:\n{{ JSON.stringify($json) }}\nResponda a pergunta do usuário de forma resumida.\nDiga o total gasto, total ganho e o saldo final (Receitas - Despesas).\nResponda em ESPANHOL.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-1792,896],"id":"9fed3c5e-5b86-4dbd-9092-aa13597b7f4e","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.wa_id }}","tableName":"delete_teste_chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-2000,1296],"id":"c57c4f96-5e3a-405e-95bc-a069673f5520","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"5uy59j8UwRyaeB9l","name":"Postgres Nanos Burguer"}}},{"parameters":{"method":"POST","url":"https://finanzas.ktuche.com/transactions/","sendBody":true,"bodyParameters":{"parameters":[{"name":"category","value":"={{ $json.category }}"},{"name":"type","value":"={{ $json.type }}"},{"name":"date","value":"={{ $today.format('yyyy-MM-dd') }}"},{"name":"amount","value":"={{ $json.amount }}"},{"name":"description","value":"={{ $json.description }}"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-592,320],"id":"7e8c28e6-3f16-4923-a6a6-c81f48dfb2aa","name":"Cadastrar"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('When chat message received').item.json.chatInput }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"597fcbc2-2e66-488a-bd27-5a4e9bffdf68"}],"combinator":"and"},"renameOutput":true,"outputKey":"text-message"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3168,864],"id":"ddfc6622-b08e-4b11-8b46-5a6397484f85","name":"¿Qué tipo de mensaje es?"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].image.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-2944,800],"id":"d3b8ce26-6f46-498e-8eac-d2d1ad39b87c","name":"Descargar media","webhookId":"5d3f7570-4fb1-4f0a-a2de-1a3a8e0b9665","credentials":{"whatsAppApi":{"id":"Jl5aH7LJ3O7m8M3p","name":"WhatsApp account"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2720,800],"id":"b05331b6-3768-42f7-88c7-bde634483963","name":"Obtener archivo","credentials":{"httpBearerAuth":{"id":"R1qKKa1g1IqG8OAo","name":"Whatsapp Bearer Token"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"={{ $('WhatsApp Trigger').item.json.messages[0].image.caption || \n'¿Qué hay en la imagen?'\n\n}}","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2496,800],"id":"fe0b4c22-f697-43c1-b2cc-2b01d32bcf0d","name":"Analizar imagen","credentials":{"openAiApi":{"id":"kzsagMP6DxHMcdAf","name":"OpenAi account"}}},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].document.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-2944,992],"id":"bdd961b0-2ef5-4ed1-a1b7-1efa2f093c4d","name":"Descargar media1","webhookId":"5d3f7570-4fb1-4f0a-a2de-1a3a8e0b9665","credentials":{"whatsAppApi":{"id":"Jl5aH7LJ3O7m8M3p","name":"WhatsApp account"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2720,992],"id":"fa59ee6a-f15d-4129-9873-0cfd74184bf1","name":"Obtener archivo1","credentials":{"httpBearerAuth":{"id":"R1qKKa1g1IqG8OAo","name":"Whatsapp Bearer Token"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"={{ $('WhatsApp Trigger').item.json.messages[0].document.caption || \n'¿Qué hay en la imagen?'\n\n}}","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2496,992],"id":"02df0d9e-924c-423b-b273-12f65076eaf8","name":"Analizar imagen1","credentials":{"openAiApi":{"id":"kzsagMP6DxHMcdAf","name":"OpenAi account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"userPrompt\": {{ $('WhatsApp Trigger').item.json.messages[0].document.caption?.toJsonString() || '¿Qué hay en la imagen?' }},\n  \"type\": \"text-message\",\n  \"ai\": {{ $json.content.toJsonString() }},\n  \"wa_id\": {{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2272,992],"id":"71fda486-876a-488d-b602-859dad95c956","name":"Extraer información de persona2","disabled":true},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-2944,1184],"id":"697485fb-8f1f-4363-a607-06cc3b1b900b","name":"Descargar media2","webhookId":"5d3f7570-4fb1-4f0a-a2de-1a3a8e0b9665","credentials":{"whatsAppApi":{"id":"Jl5aH7LJ3O7m8M3p","name":"WhatsApp account"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2720,1184],"id":"938f01d7-d7dc-49f7-88b6-8c92bf7db542","name":"Obtener archivo2","credentials":{"httpBearerAuth":{"id":"R1qKKa1g1IqG8OAo","name":"Whatsapp Bearer Token"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"userPrompt\": {{ $json.text.toJsonString() }},\n  \"type\": \"audio-message\",\n  \"ai\": \"\",\n  \"wa_id\": {{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2272,1184],"id":"6c9cc4a8-6084-4354-aa90-5761b445ea67","name":"Extraer información de persona3","disabled":true},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2496,1184],"id":"36644871-2a77-4ed8-a819-4c737c8beed5","name":"Transcribir audio","credentials":{"openAiApi":{"id":"kzsagMP6DxHMcdAf","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"c5c7886a-c819-4f68-9475-d582e4dccc55","leftValue":"={{ $('When chat message received').item.json.sessionId }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":false}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3616,896],"id":"c06d909c-dfc8-4362-9550-9c9e1668cd35","name":"If","alwaysOutputData":false},{"parameters":{"tableId":"chats","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('When chat message received').item.json.sessionId }}"},{"fieldId":"conversation_id","fieldValue":"\"inicio\""}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3296,1264],"id":"2c466f9b-48cf-47d9-a750-55c71c0b6bf6","name":"Create a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"ckTZnsvDuhQVoRFR","name":"Supabase Nano's Burgues"}}},{"parameters":{"operation":"get","tableId":"clientes","filters":{"conditions":[{"keyName":"nome","keyValue":"={{ $json.profile.name }}"},{"keyName":"telefone","keyValue":"={{ $json.wa_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3840,896],"id":"47d1199b-7b8f-4c1b-8dac-4a3a7040135b","name":"Get a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"ckTZnsvDuhQVoRFR","name":"Supabase Nano's Burgues"}}},{"parameters":{"assignments":{"assignments":[{"id":"616aca1f-0193-467b-9a80-87d1dc1c945a","name":"profile.name","value":"=Rafael","type":"string"},{"id":"b867ce0b-2f71-4f53-8bd2-1073e189311d","name":"wa_id","value":"={{ $('When chat message received').item.json.sessionId }}","type":"string"},{"id":"35ee6f31-021b-45b3-b5ee-d1a38cae6f12","name":"text.body","value":"={{ $('When chat message received').item.json.chatInput }}","type":"string"},{"id":"33cf5a90-d09f-45ba-aaba-9d0a261ad6ba","name":"type","value":"={{ $json.messages[0].type }}","type":"string"},{"id":"0f39d6f8-701a-40fb-baf9-0bcff28686bb","name":"messages[0].id","value":"={{ $json.messages[0].id }}","type":"string"},{"id":"136d198a-fc1b-49ab-ac3c-c93009f6a79e","name":"phoneFrom","value":"={{ $json.messages[0].from }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4064,896],"id":"e65ce15c-eca4-45d4-92f6-40c6c6a3a590","name":"Edit Fields"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"userPrompt\": \"{{ $('When chat message received').item.json.chatInput }}\",\n  \"type\": \"text-message\",\n  \"ai\": \"\",\n  \"name\": {{ 'Rafael'}},\n  \"wa_id\": {{ $('When chat message received').item.json.sessionId }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2288,624],"id":"aa5450f1-6d88-44d9-9834-191a3591d66b","name":"Extraer información de persona4"},{"parameters":{"jsCode":"const inputs = $input.all();\n\n// tenta achar o item que veio do Supabase\nconst supabaseItem = inputs.find(\n  i => i.json && i.json.estado_conversa !== undefined\n);\n\n// tenta achar o item do WhatsApp\nconst whatsappItem = inputs.find(\n  i => i.json && i.json.wa_id !== undefined\n);\n\nreturn {\n  userPrompt: whatsappItem?.json.userPrompt,\n  type: whatsappItem?.json.type,\n  ai: whatsappItem?.json.ai,\n  name: whatsappItem?.json.name,\n  wa_id: whatsappItem?.json.wa_id,\n  estado_conversa: supabaseItem?.json.estado_conversa ?? \"inicio\"\n};\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2048,896],"id":"fb134712-5eb1-4387-bd08-51601133e5ff","name":"Extraer y unir datos"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.type || JSON.parse($json.output).type  }}","rightValue":"(expense|income)","operator":{"type":"string","operation":"regex"},"id":"c1e58c7b-f032-47cf-bb0d-d9986a95cab5"}],"combinator":"and"},"renameOutput":true,"outputKey":"cadastrar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"658fe3f3-9960-46df-82d3-01b8aebc9042","leftValue":"={{ $json.type || JSON.parse($json.output).type  }}","rightValue":"transaction_delete_last","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"apaga útlima compra"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0b730897-19b3-45b1-baaa-f861745561ff","leftValue":"={{ $json.type || JSON.parse($json.output).type  }}","rightValue":"budget_create","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cria novo orçamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a234a4c9-bff9-449e-8161-683ae6570be3","leftValue":"={{ $json.type || JSON.parse($json.output).type  }}","rightValue":"budget_update|budget_delete","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Edita/Apaga orçamentos"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"24036fb9-5eb9-4919-9625-6ca06858c469","leftValue":"={{ $('Code in JavaScript').item.json.type || JSON.parse($json.output).type  }}","rightValue":"chat","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Só conversa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b77ebe8f-c73d-4a0a-9cae-10e3d207b5ef","leftValue":"={{ $json.type || JSON.parse($json.output).type  }}","rightValue":"transaction_update_last","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"update_transactions"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9efcad0a-d4eb-4eb0-a271-133f3a21e0c4","leftValue":"={{  $('Code in JavaScript').item.json.type|| JSON.parse($json.output).type  }}","rightValue":"analysis","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Análise de Saldo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-816,816],"id":"d1861225-52c8-4735-8efc-bdd693406524","name":"Switch","alwaysOutputData":false},{"parameters":{"operation":"send","phoneNumberId":"914691621734879","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","textBody":"={{ $('Code in JavaScript').item.json.message }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-592,1088],"id":"955f10af-19ae-407b-a3f6-ae6dfc35c105","name":"Send message","webhookId":"59093ce4-bf5c-438f-a5b8-a92231a64be9","credentials":{"whatsAppApi":{"id":"Jl5aH7LJ3O7m8M3p","name":"WhatsApp account"}},"disabled":true},{"parameters":{"url":"https://finanzas.ktuche.com/transactions/?limit=1","sendBody":true,"bodyParameters":{"parameters":[{"name":"description","value":"={{ JSON.parse($json.output).description }}"},{"name":"amount","value":"={{ JSON.parse($json.output).amount }}"},{"name":"category","value":"={{ JSON.parse($json.output).category }}"},{"name":"type","value":"={{ JSON.parse($json.output).type || 'expense' }}"},{"name":"date","value":"={{ $today.format('yyyy-MM-dd') }}"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-592,512],"id":"e087758e-8e03-4d69-af9c-8846cb359027","name":"buscar último"},{"parameters":{"method":"DELETE","url":"=https://finanzas.ktuche.com/transactions/budgets/{{ $json.id }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[64,1008],"id":"0d818016-c6f3-4709-a72a-7b1638d112a5","name":"apagar"},{"parameters":{"operation":"send","phoneNumberId":"914691621734879","recipientPhoneNumber":"={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}","textBody":"=🗑️ *Pronto! Apaguei a última transação:*\n\n📝 Item: {{ $('buscar último').item.json.description }}\n💰 Valor: ${{ $('buscar último').item.json.amount }}\n📂 Categoria: {{ $('buscar último').item.json.category }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[288,1008],"id":"26ca41f9-2a0f-4e00-b22c-0f2b0660e2e2","name":"Send message1","webhookId":"59093ce4-bf5c-438f-a5b8-a92231a64be9","credentials":{"whatsAppApi":{"id":"Jl5aH7LJ3O7m8M3p","name":"WhatsApp account"}},"disabled":true},{"parameters":{"method":"PUT","url":"=http://agente-financeiro:8000/budgets/{{ $json.id }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"limit_amount","value":"={{ $json.new_limit }}\n"},{"name":"date","value":"={{ $today.format('yyyy-MM-dd') }}"},{"name":"category","value":"={{ $('Edit Fields2').first().json.category }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[64,784],"id":"a159f7cc-1c9e-4a27-aa62-c12094a784b9","name":"criar/editar orçamento"},{"parameters":{"operation":"send","phoneNumberId":"914691621734879","recipientPhoneNumber":"={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}","textBody":"= {{ $('Edit Fields2').first().json.message }}\n\n📂 Categoria: {{ $json.category }}\n🎯 Limite: ${{ $json.limit_amount }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[288,784],"id":"29334088-2b62-4e4b-a94f-ae14cf7024e5","name":"Send message2","webhookId":"59093ce4-bf5c-438f-a5b8-a92231a64be9","credentials":{"whatsAppApi":{"id":"Jl5aH7LJ3O7m8M3p","name":"WhatsApp account"}},"disabled":true},{"parameters":{"url":"https://finanzas.ktuche.com/transactions/budgets/","sendBody":true,"bodyParameters":{"parameters":[{"name":"description","value":"={{ JSON.parse($json.output).description }}"},{"name":"amount","value":"={{ JSON.parse($json.output).amount }}"},{"name":"category","value":"={{ JSON.parse($json.output).category }}"},{"name":"type","value":"={{ JSON.parse($json.output).type || 'expense' }}"},{"name":"date","value":"={{ $today.format('yyyy-MM-dd') }}"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-592,896],"id":"cd494c34-8d92-49d2-ade4-bd6c4d50a9ef","name":"Listar Budgets"},{"parameters":{"jsCode":"// 1. Acessa o JSON limpo do node \"Code in JavaScript\"\n// (Certifique-se que o nome do node anterior é exatamente \"Code in JavaScript\")\nconst aiOutput = $('Code in JavaScript').first().json; \n\nconst targetCategory = aiOutput.category.toLowerCase();\n\n// 2. Acessa a lista de budgets (que veio do input deste node \"Listar Budgets\")\nconst budgets = items.map(item => item.json);\n\n// 3. Procura se já existe um budget com essa categoria\nconst match = budgets.find(b => b.category.toLowerCase() === targetCategory);\n\nif (match) {\n  // Se achou, retorna o ID para editar\n  return [{\n    json: {\n      id: match.id,\n      new_limit: aiOutput.amount,\n      action: aiOutput.type\n    }\n  }];\n}\n\nif (aiOutput.type === 'budget_create') {\n  // Se não achou e é para criar, marca como NEW\n  return [{\n    json: {\n      id: 'NEW',\n      new_limit: aiOutput.amount,\n      action: aiOutput.type\n    }\n  }];\n}\n\n// Se tentou editar algo que não existe\nthrow new Error(`Não encontrei nenhum orçamento para a categoria: ${targetCategory}`);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,896],"id":"68d69b59-5fa1-4446-ae4a-081b08d028a7","name":"Achar ID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"332cb458-426d-44d9-ac6d-fae1d42824ee","leftValue":"={{ $('AI Agent').first().item.json.output }}","rightValue":"budget_update","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-144,896],"id":"c34df15a-c032-42a0-a2b2-2257beae7118","name":"Editar ou Apagar?"},{"parameters":{"method":"DELETE","url":"=https://finanzas.ktuche.com/transactions/{{ $json.id }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-368,512],"id":"36e61fce-83ba-4e66-a384-79e7f729fd53","name":"Deletar Transação"},{"parameters":{"operation":"send","phoneNumberId":"914691621734879","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","textBody":"=🗑️ Transação apagada: {{ $('buscar último').first().json.description }}\n💰 Valor: {{ $('buscar último').item.json.amount }}\n📂 Categoria: {{ $('buscar último').item.json.category }}\n","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-144,512],"id":"a102204d-96dc-4e58-8fa8-033666975fa5","name":"Send message3","webhookId":"59093ce4-bf5c-438f-a5b8-a92231a64be9","credentials":{"whatsAppApi":{"id":"Jl5aH7LJ3O7m8M3p","name":"WhatsApp account"}},"disabled":true},{"parameters":{"method":"POST","url":"https://finanzas.ktuche.com/budgets/","sendBody":true,"bodyParameters":{"parameters":[{"name":"category","value":"={{ $json.category }}"},{"name":"limit_amount","value":"={{ $json.amount }}"},{"name":"category","value":"={{ $json.category }}"},{"name":"type","value":"={{ $json.type }}"},{"name":"date","value":"={{ $today.format('yyyy-MM-dd') }}"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-592,704],"id":"811abf1e-161a-4f1a-83d9-8d9c82962649","name":"Criar Budget"},{"parameters":{"operation":"send","phoneNumberId":"914691621734879","recipientPhoneNumber":"={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}","textBody":"={{ $('Edit Fields2').first().json.message }}\nValor: {{ $json.limit_amount }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-368,704],"id":"b619936a-5fff-4329-963d-a00d42c0201c","name":"Send message4","webhookId":"59093ce4-bf5c-438f-a5b8-a92231a64be9","credentials":{"whatsAppApi":{"id":"Jl5aH7LJ3O7m8M3p","name":"WhatsApp account"}},"disabled":true},{"parameters":{"url":"https://finanzas.ktuche.com/transactions/","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"1"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-592,1280],"id":"70293964-8320-40b2-9dc9-40b0bdd90b62","name":"buscar último1","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"send","phoneNumberId":"914691621734879","recipientPhoneNumber":"={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}","textBody":"= {{ $('Edit Fields2').first().json.message }}\n\n📂 Descrición: {{ $json.description }}\n🎯 Valor: ${{ $json.amount }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[80,1376],"id":"0f613267-4f18-4be4-b5ea-70e6bd4a6739","name":"Send message5","webhookId":"59093ce4-bf5c-438f-a5b8-a92231a64be9","credentials":{"whatsAppApi":{"id":"Jl5aH7LJ3O7m8M3p","name":"WhatsApp account"}},"disabled":true},{"parameters":{"method":"PUT","url":"=https://finanzas.ktuche.com/transactions/{{ $json.id }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"amount","value":"={{ $json.amount }}\n"},{"name":"category","value":"={{ $json.category }}"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-144,1376],"id":"7188141d-5b18-40c7-9142-e85a46ab0518","name":"Atualizar Transação"},{"parameters":{"toolDescription":"Eres un Consultor Financiero Colombiano, amigo y directo.\n\nTU TAREA: Reportar los datos EXACTOS que recibes del sistema. NO inventes números.\n\nDATOS DEL SISTEMA (JSON):\n{{ JSON.stringify($json) }}\\n\\nINSTRUCCIONES:\n1. Di el 'balance' actual como Saldo Disponible.\n2. Di el total de 'income' e 'expenses' exactos como aparecen en los datos.\n3. Si el usuario pidió 'saldo', dalo directo.\n4. Revisa 'budgets': Si 'alert' es true, avisa con ⚠️.\n5. Sé breve.","text":"={{ $json.userPrompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":3,"position":[-1696,1120],"id":"73653b42-e2e0-4f11-8871-346d19c982cf","name":"AI Agent Tool"},{"parameters":{"operation":"send","phoneNumberId":"914691621734879","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","textBody":"=✅ *{{ $('Code in JavaScript').item.json.type == 'income' ? 'Ingreso' : 'Gasto' }} Registrado!*\n\n📝 {{ $('Code in JavaScript').item.json.description }}\n💰 ${{ $('Code in JavaScript').item.json.amount }}\n📂 {{ $('Code in JavaScript').item.json.category }}\n\n","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-368,320],"id":"2855f25f-60b1-4a3c-9496-6cf04c7e4bcd","name":"Mensagem de confirmação do cadastro1","webhookId":"e461be41-37b4-41f7-a7e4-78d895161a34","credentials":{"whatsAppApi":{"id":"Jl5aH7LJ3O7m8M3p","name":"WhatsApp account"}},"disabled":true},{"parameters":{"operation":"send","phoneNumberId":"914691621734879","recipientPhoneNumber":"={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}","textBody":"=📊 *RELATÓRIO FINANCEIRO*\n\n💰 *Total Entradas:* {{ $json.total_income }}\n💸 *Total Saídas:* {{ $json.total_expenses }}\n━━━━━━━━━━━━━━━━━━\n🏦 *SALDO ATUAL:* *{{ $json.balance }}*\n━━━━━━━━━━━━━━━━━━\n\n💡 *Dica:* {{ $json.ai_advice_message }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-144,1568],"id":"f051d3e0-b043-4698-9f32-c131100fd343","name":"Send message6","webhookId":"59093ce4-bf5c-438f-a5b8-a92231a64be9","credentials":{"whatsAppApi":{"id":"Jl5aH7LJ3O7m8M3p","name":"WhatsApp account"}},"disabled":true},{"parameters":{"toolDescription":"Você é um analista financeiro.\nAbaixo estão as transações do usuário recuperadas do banco de dados:\n{{ JSON.stringify($json) }}\n\nResponda a pergunta do usuário de forma resumida.\nDiga o total gasto, total ganho e o saldo final (Receitas - Despesas).\nResponda em ESPANHOL.\n\nTU TAREA: Reportar los datos EXACTOS que recibes del sistema. NO inventes números.\n\nDATOS DEL SISTEMA (JSON):\n{{ JSON.stringify($json) }}\\n\\nINSTRUCCIONES:\n1. Di el 'balance' actual como Saldo Disponible.\n2. Di el total de 'income' e 'expenses' exactos como aparecen en los datos.\n3. Si el usuario pidió 'saldo', dalo directo.\n4. Revisa 'budgets': Si 'alert' es true, avisa con ⚠️.\n5. Sé breve.","text":"={{ $json.userPrompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":3,"position":[-1408,1120],"id":"2d64cbf1-c20a-463b-920b-70e0c255f6db","name":"AI Agent Tool1"},{"parameters":{"jsCode":"let totalIncome = 0;\nlet totalExpenses = 0;\n\n// Sumar valores\nfor (const item of items) {\n  const amount = parseFloat(item.json.amount) || 0;\n  const type = item.json.type;\n\n  if (type === 'income') {\n    totalIncome += amount;\n  } else if (type === 'expense') {\n    totalExpenses += amount;\n  }\n}\n\nconst balance = totalIncome - totalExpenses;\n\n// Función para formatear en Pesos Colombianos (COP)\n// Usa 'es-CO' para asegurar el formato correcto ($ 1.200.500)\nfunction formatMoney(value) {\n  return value.toLocaleString('es-CO', {\n    style: 'currency',\n    currency: 'COP',\n    minimumFractionDigits: 0, // En Colombia no se usan céntimos usualmente\n    maximumFractionDigits: 0\n  });\n}\n\n// Lógica simple para el Consejo (en Español)\nlet advice = \"\";\nif (balance < 0) {\n  advice = \"⚠️ ¡Alerta Roja! Estás gastando más de lo que ganas. Revisa tus gastos superfluos.\";\n} else if (totalExpenses > totalIncome * 0.8) {\n  advice = \"⚠️ ¡Cuidado! Ya has comprometido más del 80% de tus ingresos.\";\n} else {\n  advice = \"🏆 ¡Felicitaciones! Tus finanzas están saludables y bajo control.\";\n}\n\n// Retorna los valores formateados\nreturn [{\n  json: {\n    total_income: formatMoney(totalIncome),\n    total_expenses: formatMoney(totalExpenses),\n    balance: formatMoney(balance),\n    ai_advice_message: advice\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,1568],"id":"b5c65a2a-6b5f-43e8-a710-90de9a4287a3","name":"Faz a Soma"},{"parameters":{"url":"=https://finanzas.ktuche.com/transactions/","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"50"},{"name":"month","value":"={{ $today.format('MM') }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"amount","value":"={{ $json.amount }}\n"},{"name":"category","value":"={{ $json.category }}"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-592,1568],"id":"4cfec66b-4875-4c3b-a61a-1779fd2eafc8","name":"Lista de Transações"},{"parameters":{"jsCode":"// Pega o texto que a IA mandou\nconst aiOutput = items[0].json.output || \"\";\n\n// Procura pelo primeiro bloco que parece um JSON: { ... }\nconst jsonMatch = aiOutput.match(/\\{[\\s\\S]*?\\}/);\n\nif (jsonMatch) {\n  try {\n    // Tenta converter o texto encontrado em objeto real\n    const cleanData = JSON.parse(jsonMatch[0]);\n\n    // Retorna os dados limpos para os próximos nodes\n    return [{\n      json: {\n        type: cleanData.type || \"chat\", // Se não achar tipo, vira chat\n        amount: cleanData.amount || 0,\n        category: cleanData.category || \"Geral\",\n        description: cleanData.description || \"\",\n        message: cleanData.message || \"\"\n      }\n    }];\n  } catch (error) {\n    // Se der erro no JSON, assume que é só conversa\n    return [{ json: { type: \"chat\", message: aiOutput } }];\n  }\n} else {\n  // Se não achar JSON nenhum, é conversa normal\n  return [{ json: { type: \"chat\", message: aiOutput } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,896],"id":"08f30e9c-ccc2-4323-8c6e-58e6a2b5d369","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1cc3d597-9317-4518-9a3b-c0045da1e167","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-368,1280],"id":"a1fcd54e-3bc6-408a-98d4-de5b084657d3","name":"If1"},{"parameters":{"operation":"send","phoneNumberId":"914691621734879","recipientPhoneNumber":"={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}","textBody":"=🚫 Ops! Não encontrei nenhuma transação anterior para editar/apagar.","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-144,1184],"id":"6150dcce-b427-488d-8489-f510881c6463","name":"Send message7","webhookId":"59093ce4-bf5c-438f-a5b8-a92231a64be9","credentials":{"whatsAppApi":{"id":"Jl5aH7LJ3O7m8M3p","name":"WhatsApp account"}},"disabled":true},{"parameters":{"tableId":"clientes","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"=Rafael"},{"fieldId":"telefone","fieldValue":"={{ $('When chat message received').item.json.sessionId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3568,1264],"id":"8d3a5946-3dde-4d91-9a1b-b5b91ca610d4","name":"Criar Cliente","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"ckTZnsvDuhQVoRFR","name":"Supabase Nano's Burgues"}}},{"parameters":{"toolDescription":"Consulta el historial de transacciones financieras (ingresos y gastos) del mes actual.","url":"https://finanzas.ktuche.com/transactions/","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"50"},{"name":"month","value":"={{ $today.format('MM') }}"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-1248,1344],"id":"df8b5cb4-8cf7-4dd9-ba44-a013622fdcd8","name":"Consulta de Gastos"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-4384,896],"id":"1ee88c87-5a0a-482f-b617-a4e76defca68","name":"Wait","webhookId":"26874f58-0073-4e66-9dd1-d37b65d6cd72"},{"parameters":{"options":{"allowFileUploads":false}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-4640,896],"id":"2d2486e1-85c6-4bcf-b246-fa9d26d7f2ca","name":"When chat message received","webhookId":"239ff48b-465d-4ec9-bba6-42f1e655444a"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"userPrompt\": \"{{ $('When chat message received').item.json.chatInput }}\",\n  \"type\": \"text-message\",\n  \"ai\": \"\",\n  \"name\": {{ 'Rafael'}},\n  \"wa_id\": {{ $('When chat message received').item.json.sessionId }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2288,800],"id":"d25dc513-f6a6-486f-a9ef-a29f5dbd7d71","name":"Extraer información de persona","disabled":true}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"AI Agent Tool","type":"ai_languageModel","index":0},{"node":"AI Agent Tool1","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Cadastrar":{"main":[[{"node":"Mensagem de confirmação do cadastro1","type":"main","index":0}]]},"¿Qué tipo de mensaje es?":{"main":[[{"node":"Extraer información de persona4","type":"main","index":0}]]},"Descargar media":{"main":[[{"node":"Obtener archivo","type":"main","index":0}]]},"Obtener archivo":{"main":[[{"node":"Analizar imagen","type":"main","index":0}]]},"Analizar imagen":{"main":[[{"node":"Extraer información de persona","type":"main","index":0}]]},"Descargar media1":{"main":[[{"node":"Obtener archivo1","type":"main","index":0}]]},"Obtener archivo1":{"main":[[{"node":"Analizar imagen1","type":"main","index":0}]]},"Analizar imagen1":{"main":[[{"node":"Extraer información de persona2","type":"main","index":0}]]},"Extraer información de persona2":{"main":[[{"node":"Extraer y unir datos","type":"main","index":0}]]},"Descargar media2":{"main":[[{"node":"Obtener archivo2","type":"main","index":0}]]},"Obtener archivo2":{"main":[[{"node":"Transcribir audio","type":"main","index":0}]]},"Extraer información de persona3":{"main":[[{"node":"Extraer y unir datos","type":"main","index":0}]]},"Transcribir audio":{"main":[[{"node":"Extraer información de persona3","type":"main","index":0}]]},"If":{"main":[[{"node":"¿Qué tipo de mensaje es?","type":"main","index":0}],[{"node":"Criar Cliente","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"¿Qué tipo de mensaje es?","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"Extraer información de persona4":{"main":[[{"node":"Extraer y unir datos","type":"main","index":0}]]},"Extraer y unir datos":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Cadastrar","type":"main","index":0}],[{"node":"buscar último","type":"main","index":0}],[{"node":"Criar Budget","type":"main","index":0}],[{"node":"Listar Budgets","type":"main","index":0}],[{"node":"Send message","type":"main","index":0}],[{"node":"buscar último1","type":"main","index":0}],[{"node":"Lista de Transações","type":"main","index":0}]]},"buscar último":{"main":[[{"node":"Deletar Transação","type":"main","index":0}]]},"apagar":{"main":[[{"node":"Send message1","type":"main","index":0}]]},"criar/editar orçamento":{"main":[[{"node":"Send message2","type":"main","index":0}]]},"Listar Budgets":{"main":[[{"node":"Achar ID","type":"main","index":0}]]},"Achar ID":{"main":[[{"node":"Editar ou Apagar?","type":"main","index":0}]]},"Editar ou Apagar?":{"main":[[{"node":"criar/editar orçamento","type":"main","index":0}],[{"node":"apagar","type":"main","index":0}]]},"Deletar Transação":{"main":[[{"node":"Send message3","type":"main","index":0}]]},"Criar Budget":{"main":[[{"node":"Send message4","type":"main","index":0}]]},"buscar último1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Atualizar Transação":{"main":[[{"node":"Send message5","type":"main","index":0}]]},"AI Agent Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent Tool1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Faz a Soma":{"main":[[{"node":"Send message6","type":"main","index":0}]]},"Lista de Transações":{"main":[[{"node":"Faz a Soma","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Switch","type":"main","index":0}]]},"If1":{"main":[[{"node":"Send message7","type":"main","index":0}],[{"node":"Atualizar Transação","type":"main","index":0}]]},"Criar Cliente":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Consulta de Gastos":{"ai_tool":[[{"node":"AI Agent Tool1","type":"ai_tool","index":0}]]},"Wait":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Extraer información de persona":{"main":[[{"node":"Extraer y unir datos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5c072639-dad5-45a1-a538-203599191aed","activeVersionId":null,"versionCounter":997,"triggerCount":1,"shared":[{"updatedAt":"2026-02-04T04:26:02.564Z","createdAt":"2026-02-04T04:26:02.564Z","role":"workflow:owner","workflowId":"shWZJPbalaGm2marLQqG5","projectId":"7dzvklPromIztIqd","project":{"updatedAt":"2026-01-29T05:46:50.501Z","createdAt":"2026-01-29T02:38:55.037Z","id":"7dzvklPromIztIqd","name":"rafael diorato <diorato2026@outlook.com>","type":"personal","icon":null,"description":null,"creatorId":"4935c8b0-f967-4dad-8080-c0465aedcb6d"}}],"tags":[],"activeVersion":null}